<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Bir Seyhat Mi Planlıyorsunuz?</h2>
                <h4>Hemen 3 dakika içerisinde seyhatini planla.</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="/Default/Index/">Tur Rotaları</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © @DateTime.Now.Year <a href="#">WoOx Travel</a> Tüm Hakları Saklıdır.
                    <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a> Distribution: <a href="https://themewagon.com target="_blank">ThemeWagon</a>
                </p>
            </div>
        </div>
    </div>
</footer>
